# Packaging
setuptools>=45.2.0
wheel>=0.34.2

# Docs
mkdocs==1.4.2
mkdocs-material==9.0.13

# Testing
pytest==7.2.1
pytest-asyncio==0.20.3
pytest-cov==4.0.0

# Lint
flake8==6.0.0
isort==5.12.0
black==23.1.0
mypy==1.0.1
autoflake==2.0.1

# Dependencies
click>=8.1.3
